@model UpdateBannerDto
@{
    ViewData["Title"] = "UpdateBanner";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="card-body">
    <h4 class="card-title"> Banner Information Update</h4>
    <p class="card-subtitle mb-4">
        You can Update data into the banner field from the panel below. 
    </p>
    <form method="post">
        <input type="hidden" asp-for="BannerID" />
        <div class="form-group">
            <label for="exampleInputTitle">Title</label>
            <input type="text" class="form-control" id="exampleInputTitle" asp-for="Title" placeholder="Please Enter Title">
        </div>
        <div class="form-group">
            <label for="exampleInputDescription">Description</label>
            <input type="text" class="form-control" id="exampleInputDescription" asp-for="Description" placeholder="Please Enter Description">
        </div>
        <div class="form-group">
            <label for="exampleInputVideoDescription">Video Description</label>
            <input type="text" class="form-control" id="exampleInputVideoDescription" asp-for="VideoDescription" placeholder="Please Enter Video Description">
        </div>
        <div class="form-group">
            <label for="exampleInputVideoUrl">Video Url</label>
            <input type="text" class="form-control" id="exampleInputVideoUrl" asp-for="VideoUrl" placeholder="Please Enter Video's Youtube Embeded Link">
        </div>
        <button type="submit" class="btn btn-success waves-effect waves-light">Update Banner </button>
        <a href="/Admin/AdminBanner/Index/" class="btn btn-daner waves-effect waves-light">Cancel </a>
    </form>
</div>
                </div>

