@model CreateBrandDto
@{
    ViewData["Title"] = "CreateBrand";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">New Car Brand Entry</h4>
        <p class="card-subtitle mb-4">You can enter information about the brand in the box below. After data entry, you can complete the process by clicking the save button.</p>
        <form method="post">
            <div class="form-group">
                <label for="exampleInputName">Brand Name</label>
                <input type="text" class="form-control" id="exampleInputName" asp-for="Name" placeholder="Please Add Brand Name">
            </div>
            <button type="submit" class="btn btn-primary waves-effect waves-light">Save Brand</button>
            <a href="/AdminBrand/Index/" class="btn btn-danger waves-effect waves-light">Cancel</a>
        </form>
    </div>
</div>
