@model List<ResultBrandDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Car Brand Lists</h4>
        <p class="card-subtitle mb-4">
            You can view the car brand list, edit brands, and remove a brand from here.
        </p>
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Brand Name</th>
                        <th>Delete</th>
                        <th>Update</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <th scope="row">@count</th>
                            <td>@item.Name</td>
                            <td><a href="/AdminBrand/RemoveBrand/@item.BrandID" class="btn btn-outline-danger">Delete</a></td>
                            <td><a href="/AdminBrand/UpdateBrand/@item.BrandID" class="btn btn-outline-success">Update</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/AdminBrand/CreateBrand/" class="btn btn-outline-primary">Add New Brand</a>
        </div>

    </div>
    <!-- end card-body-->
</div>
<!-- end card -->
