@model List<ResultFooterAddressDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

                <div class="card">
                    <div class="card-body">
        <h4 class="card-title">Contact and Footer Area Address Page</h4>
                        <p class="card-subtitle mb-4">
            You can perform transactions regarding the address information in the Contact and Footer sections from this page. You can get map information as location value via Google Map.
        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Address</th>
                                        <th>Phone</th>
                                        <th>EMail</th>
                                        <th>Description</th>
                                        <th>Delete</th>
                                        <th>Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Address</td>
                                            <td>@item.Phone</td>
                                            <td>@item.Email</td>
                                            <td>@item.Description</td>
                                            <td><a href="/Admin/AdminFooterAddress/RemoveFooterAddress/@item.FooterAddressID" class="btn btn-outline-danger">Delete</a></td>
                                            <td><a href="/Admin/AdminFooterAddress/UpdateFooterAddress/@item.FooterAddressID" class="btn btn-outline-success">Update</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminFooterAddress/CreateFooterAddress" class="btn btn-outline-primary">Add New Footer Address</a>
                        </div>
                    </div>
                </div>
        

