@model List<ResultPricingDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

                    <div class="card-body">
                        <h4 class="card-title">Payment Types List</h4>
                        <p class="card-subtitle mb-4">
                            This is the page that includes daily, rental, monthly or similar rental options of vehicles. A new time period can be added, deleted or updated on this page.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Period Name</th>
                                        <th>Delete</th>
                                        <th>Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Name</td>
                                            <td><a href="/Admin/AdminPricing/RemovePricing/@item.PricingID" class="btn btn-outline-danger">Delete</a></td>
                                            <td><a href="/Admin/AdminPricing/UpdatePricing/@item.PricingID" class="btn btn-outline-success">Update</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminPricing/CreatePricing" class="btn btn-outline-primary">Add New Pricing Type</a>
                        </div>
                    </div>
          